<p id="notice"><%= notice %></p>

<p>
  <strong>Débito Técnico:</strong>
  <%= @os_deb_tecnico.debito_tecnico.nome %>
</p>

<p>
  <strong>Os:</strong>
  <%= @os_deb_tecnico.ordem_servico.id %>
</p>

<%= link_to '', edit_os_deb_tecnico_path(@os_deb_tecnico) %> |
<%= link_to 'Voltar', os_deb_tecnicos_path %>
