<%= simple_form_for(@os_tarefa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :catl_id,:collection => Catalogo.all.order(nome: :asc),label_method: :nome,:label => "Catálogo" ,:include_blank => false %>
    <%= f.input :prod_id,:collection => Produto.all.order(nome: :asc),label_method: :nome,:label => "Produto" ,:include_blank => false %>
    <%= f.input :pess_abertura_tarefa_id,:collection => Pessoa.all.order(nome: :asc),label_method: :nome,:label => "Abriu a Tarefa" ,:include_blank => false %>
    <%= f.input :pess_tarefa_atribuida_id,:collection => Pessoa.all.order(nome: :asc),label_method: :nome,:label => "Atribuído Para" ,:include_blank => false %>
    <%= f.input :entregavel_id,:collection => Entregavel.all,label_method: :nome,:label => "Entregável" ,:include_blank => true %>
    <%= f.input :os_id, :as => :hidden %>
    <%= f.input :id_tarefa_redmine %>
    <%= f.input :ust_tarefa, label:'UST da tarefa:' %>
    <%= f.input :horastarefa, label:'Horas da tarefa:' %>
    <%= f.input :situacao,:collection => OsTarefa.situacoes,:label => "Situações" , :include_blank => false %>
    <%= f.input :justificativa, label:'Justificativa:' %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
