<%= simple_form_for(@os_tarefa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :catl_id %>
    <%= f.input :prod_id %>
    <%= f.input :pess_abertura_tarefa_id %>
    <%= f.input :pess_tarefa_atribuida_id %>
    <%= f.input :entregavel_id %>
    <%= f.input :os_id %>
    <%= f.input :id_tarefa_redmine %>
    <%= f.input :ust_tarefa %>
    <%= f.input :horastarefa %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
