<p id="notice"><%= notice %></p>

<h3>Listando Tarefas da Ordem de Serviço</h3>

<table class="table table-bordered table-hover table-condensed">

  <thead>
    <tr>
      <th>Catálogo</th>
      <th>Produto</th>
      <th>Abriu Tarefa</th>
      <th>Tarefa Atribuida para</th>
      <th>Entregável</th>
      <th>Id Tarefa Redmnine</th>
      <th>UST Tarefa</th>
      <th>Horas Tarefa</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordem_servico.os_tarefas.each do |os_tarefa| %>
      <tr>
        <td><%= os_tarefa.catalogo.nome %></td>
        <%if os_tarefa.produto  %>
        <td><%= os_tarefa.produto.nome %></td>
        <% end %>
        <%if !os_tarefa.produto  %>
        <td> </td>
        <% end %>
        <td><%= os_tarefa.abriu_tarefa.nome %></td>
        <td><%= os_tarefa.atribuido_tarefa.nome %></td>
        <%if os_tarefa.entregavel  %>
        <td><%= os_tarefa.entregavel.nome %></td>
        <% end %>
        <%if !os_tarefa.entregavel  %>
        <td> </td>
        <% end %>
        <td><a href="https://projetos-homologacao.tce.go.gov.br/issues/<%=  "%g" % os_tarefa.id_tarefa_redmine %>"><%= "%g" % os_tarefa.id_tarefa_redmine.to_s %></a> </td>
        <td><%= os_tarefa.ust_tarefa %></td>
        <td><%= os_tarefa.horastarefa %></td>
        <td><%= link_to '', os_tarefa,class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_os_tarefa_path(os_tarefa),class: "glyphicon glyphicon-edit" %></td>
        <td><%= link_to '', os_tarefa, method: :delete, data: { confirm: 'Você tem certeza?' },class: "glyphicon glyphicon-remove" %></td>
        <td><%= link_to 'Inserir Débito Técnico', new_tarefa_deb_tecnico_path(tare_id: os_tarefa.id), class: '' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
