<%= javascript_tag do %>
  $( document ).ready(function() {
    var id_os = $("#id_Os").data("value");
      $("#tarefas_nao_pagas").load("/os_tarefas/mostra_nao_pagas?os_id=<%= @ordem_servico.id %>");
      $("#mostra_nao_pagas_aprovadas_os").load("/os_tarefas/mostra_nao_pagas_aprovadas_os?os_id=<%= @ordem_servico.id %>");

  });

<% end %>

<p id="notice"><%= notice %></p>

<h3>Tarefas da Ordem de Serviço</h3>

<table class="sortable sortable table table-bordered table-hover table-condensed">

  <thead>
    <tr>
      <th>#</th>
      <% if @ordem_servico.os_tipo.nome==OsTipo.tipos[4] || @ordem_servico.os_tipo.nome==OsTipo.tipos[5] && @ordem_servico.os_tipo.nome==OsTipo.tipos[6]%>
      <th>Catálogo</th>
      <% end %>
      <th>Produto</th>
      <th>Abriu Tarefa</th>
      <th>Tarefa Atribuida para</th>
      <th>Entregável</th>
      <th>Id Tarefa Redmnine</th>
      <th>UST Tarefa</th>
      <th>Horas Tarefa</th>
      <th>Situação</th>
      <th>Justificativa</th>

      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordem_servico.os_tarefas.each_with_index do |os_tarefa, index| %>
      <tr>
        <td><%= index +1%></td>
        <% if @ordem_servico.os_tipo.nome==OsTipo.tipos[4] || @ordem_servico.os_tipo.nome==OsTipo.tipos[5] && @ordem_servico.os_tipo.nome==OsTipo.tipos[6]%>
        <td><%= os_tarefa.catalogo.nome %></td>
        <% end %>
        <%if os_tarefa.produto  %>
        <td><%= os_tarefa.produto.nome %></td>
        <% else %>
        <td> </td>
        <% end %>
        <%if !os_tarefa.abriu_tarefa.blank?  %>
          <td><%= os_tarefa.abriu_tarefa.nome %></td>
        <% else %>
          <td> </td>
        <% end %>
        <%if !os_tarefa.atribuido_tarefa.blank?  %>
          <td><%= os_tarefa.atribuido_tarefa.nome %></td>
        <% else %>
          <td> </td>
        <% end %>
        <%if os_tarefa.entregavel  %>
        <td><%= os_tarefa.entregavel.nome %></td>
        <% else %>
        <td> </td>
        <% end %>
        <%if os_tarefa.id_tarefa_redmine  %>
        <td><a href="https://projetos.tce.go.gov.br/issues/<%=  "%g" % os_tarefa.id_tarefa_redmine %>"><%= "%g" % os_tarefa.id_tarefa_redmine.to_s %></a> </td>
        <% else %>
        <td> </td>
        <% end %>
        <td><%= os_tarefa.ust_tarefa %></td>
        <td><%= os_tarefa.horastarefa %></td>
        <td><%= os_tarefa.situacao %></td>
        <td><%= os_tarefa.justificativa%></td>
        <td><%= link_to '', os_tarefa,class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_os_tarefa_path(os_tarefa),class: "glyphicon glyphicon-edit" %></td>
        <td><%= link_to '', os_tarefa, method: :delete, data: { confirm: 'Você tem certeza?' }, :remote => true, class: "delete_item glyphicon glyphicon-remove" %></td>
        <td><%= link_to 'Inserir Débito Técnico', new_tarefa_deb_tecnico_path(tare_id: os_tarefa.id), class: '' %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <strong>Total de UST das Tarefas Aceitas:</strong>
  <%= @total_ust_tarefas %>
</p>
<p>
  <strong>Total de Horas das Tarefas Aceitas:</strong>
  <%= @total_horas_tarefas %>
</p>
<br>
<div id="mostra_nao_pagas_aprovadas_os">
</div>
<div id="tarefas_nao_pagas">
</div>
