<p id="notice"><%= notice %></p>

<h1>Listando Tarefas das Ordens de Serviço</h1>

<table class="sortable table table-bordered table-hover table-condensed">

  <thead>
    <tr>
      <th>Catálogo</th>
      <th>Produto</th>
      <th>Abriu Tarefa</th>
      <th>Tarefa Atribuida para</th>
      <th>Entregável</th>
      <th>OS</th>
      <th>Id Tarefa Redmnine</th>
      <th>UST Tarefa</th>
      <th>Horas Tarefa</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @os_tarefas.each do |os_tarefa| %>
      <tr>
        <td><%= os_tarefa.catalogo.nome %></td>
        <td><%= os_tarefa.produto.nome %></td>
        <td><%= os_tarefa.abriu_tarefa.nome %></td>
        <td><%= os_tarefa.atribuido_tarefa.nome %></td>
        <td><%= os_tarefa.entregavel.nome %></td>
        <td><%= os_tarefa.ordem_servico.descricao %></td>
        <td><%= os_tarefa.id_tarefa_redmine %></td>
        <td><%= os_tarefa.ust_tarefa %></td>
        <td><%= os_tarefa.horastarefa %></td>
        <td><%= link_to '', os_tarefa,class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_os_tarefa_path(os_tarefa),class: "glyphicon glyphicon-edit" %></td>
        <td><%= link_to '', os_tarefa, method: :delete, data: { confirm: 'Você tem certeza?' },class: "glyphicon glyphicon-remove" %></td>
        <td><%= link_to 'Inserir Débito Técnico', new_tarefa_deb_tecnico_path(tare_id: os_tarefa.id), class: '' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Os tarefa', new_os_tarefa_path %>
