<p id="notice"><%= notice %></p>

<p>
  <strong>Catalogo:</strong>
  <%= @os_tarefa.catalogo.nome %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @os_tarefa.produto.nome %>
</p>

<p>
  <strong>Pessoa abertura tarefa:</strong>
  <%= @os_tarefa.abriu_tarefa.nome %>
</p>

<p>
  <strong>Tarefa atribuida:</strong>
  <%= @os_tarefa.atribuido_tarefa.nome %>
</p>

<%if @os_tarefa.entregavel  %>
  <strong>Entregavel:</strong>
  <%= @os_tarefa.entregavel.nome %>
<% else %>

  <strong>Entregavel:</strong>


<% end %>


<p>
  <strong>Os:</strong>
  <%= @os_tarefa.ordem_servico.descricao %>
</p>

<p>
  <strong>Id tarefa redmnine:</strong>
  <%= @os_tarefa.id_tarefa_redmine %>
</p>

<p>
  <strong>Ust tarefa:</strong>
  <%= @os_tarefa.ust_tarefa %>
</p>

<p>
  <strong>Nurm horastarefa:</strong>
  <%= @os_tarefa.horastarefa %>
</p>

<p>
  <strong>Situação:</strong>
  <%= @os_tarefa.situacao %>
</p>

<p>
  <strong>Justificativa:</strong>
  <%= @os_tarefa.justificativa %>
</p>
<br>
<br>
<%= render "tarefa_deb_tecnicos/index" %>
<%= link_to 'Inserir Débito Técnico', new_tarefa_deb_tecnico_path(tare_id: @os_tarefa.id), class: 'btn btn-default' %>


<br>
<%= link_to 'Editar', edit_os_tarefa_path(@os_tarefa) %> |
<a href="javascript:history.back()">Voltar</a>
