<%= simple_form_for(@os_entregavel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :entregavel_id,:collection => Entregavel.all.order('nome ASC'),label_method: :nome,:label => "Entregável" ,:include_blank => false  %>
    <%= f.input :os_id, :as => :hidden %>
    <%= f.input :ust_previsto %>
    <%= f.input :situacao,:collection => OsEntregavel.situacoes,:label => "Situações" , :include_blank => false %>
    <%= f.input :justificativa, label:'Justificativa:' %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
