<p id="notice"><%= notice %></p>

<h1>Listando Entregáveis de Ordens de Serviço</h1>

<table class="table table-bordered table-hover table-condensed">

  <thead>
    <tr>
      <th>Entregavel</th>
      <th>Osi d</th>
      <th>Ust previsto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordem_servico.os_entregavels.each do |os_entregavel| %>
      <tr>
        <td><%= os_entregavel.entregavel.nome %></td>
        <td><%= os_entregavel.ordem_servico.nome %></td>
        <td><%= os_entregavel.ust_previsto %></td>
        <td><%= link_to 'Exibir', os_entregavel %></td>
        <td><%= link_to 'Editar', edit_os_entregavel_path(os_entregavel) %></td>
        <td><%= link_to 'Excluir', os_entregavel, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
