<p id="notice"><%= notice %></p>

<p>
  <strong>Entregavel:</strong>
  <%= @os_entregavel.entregavel_id %>
</p>

<p>
  <strong>Osi d:</strong>
  <%= @os_entregavel.osi_d %>
</p>

<p>
  <strong>Ust previsto:</strong>
  <%= @os_entregavel.ust_previsto %>
</p>

<%= link_to 'Edit', edit_os_entregavel_path(@os_entregavel) %> |
<%= link_to 'Back', os_entregavels_path %>
