<p id="notice"><%= notice %></p>

<p>
  <strong>Entregavel:</strong>
  <%= @entregavel.entregavel %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @entregavel.ativo %>
</p>

<%= link_to 'Edit', edit_entregavel_path(@entregavel) %> |
<%= link_to 'Back', entregavels_path %>
