<p id="notice"><%= notice %></p>

<p>
  <strong>Entregavel:</strong>
  <%= @entregavel.nome %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @entregavel.ativo %>
</p>

<%= link_to 'Editar', edit_entregavel_path(@entregavel) %> |
<%= link_to 'Voltar', entregavels_path %>
