<p id="notice"><%= notice %></p>

<h1>Listando Tarefa Deb Tecnicos</h1>

<table class="table table-bordered table-hover table-condensed">

  <thead>
    <tr>
      <th>Tare</th>
      <th>Debt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tarefa_deb_tecnicos.each do |tarefa_deb_tecnico| %>
      <tr>
        <td><%= tarefa_deb_tecnico.tare_id %></td>
        <td><%= tarefa_deb_tecnico.debt_id %></td>
        <td><%= link_to 'Show', tarefa_deb_tecnico %></td>
        <td><%= link_to 'Edit', edit_tarefa_deb_tecnico_path(tarefa_deb_tecnico) %></td>
        <td><%= link_to 'Destroy', tarefa_deb_tecnico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tarefa deb tecnico', new_tarefa_deb_tecnico_path %>
