<p id="notice"><%= notice %></p>

<p>
  <strong>Tarefa:</strong>
  <%= @tarefa_deb_tecnico.os_tarefa.id %>
</p>

<p>
  <strong>Débito Técnico:</strong>
  <%= @tarefa_deb_tecnico.debito_tecnico.nome %>
</p>

<%= link_to 'Editar', edit_tarefa_deb_tecnico_path(@tarefa_deb_tecnico) %> |
<%= link_to 'Voltar', tarefa_deb_tecnicos_path %>
