<p id="notice"><%= notice %></p>

<p>
  <strong>Tare:</strong>
  <%= @tarefa_deb_tecnico.tare_id %>
</p>

<p>
  <strong>Debt:</strong>
  <%= @tarefa_deb_tecnico.debt_id %>
</p>

<%= link_to 'Editar', edit_tarefa_deb_tecnico_path(@tarefa_deb_tecnico) %> |
<%= link_to 'Back', tarefa_deb_tecnicos_path %>
