<p id="notice"><%= notice %></p>

<h1>Listando Projetos</h1>

<table class="table table-bordered table-hover table-condensed">

  <thead>
    <tr>
      <th>Projeto</th>
      <th>Id proj redmine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <td><%= projeto.nome %></td>
        <td><%= projeto.id_proj_redmine %></td>
        <td><%= link_to 'Exibir', projeto %></td>
        <td><%= link_to 'Editar', edit_projeto_path(projeto) %></td>
        <td><%= link_to 'Excluir', projeto, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Projeto', new_projeto_path %>
