<p id="notice"><%= notice %></p>

<p>
  <strong>Projeto:</strong>
  <%= @projeto.nome %>
</p>

<p>
  <strong>Id proj redmine:</strong>
  <%= @projeto.id_proj_redmine %>
</p>

<%= link_to 'Editar', edit_projeto_path(@projeto) %> |
<%= link_to 'Voltar', projetos_path %>
