<p id="notice"><%= notice %></p>

<h1>Listando Pessoas</h1>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Pessoa</th>
      <th>Vinculo</th>
      <th>Id pessoa redmine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.vinculo %></td>
        <td><%= pessoa.id_pessoa_redmine %></td>
        <td><%= link_to 'Exibir', pessoa %></td>
        <td><%= link_to 'Editar', edit_pessoa_path(pessoa) %></td>
        <td><%= link_to 'Excluir', pessoa, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Pessoa', new_pessoa_path %>
