<% content_for :title do %>Sobre<% end %>
<h3>Manutenção de Tabelas</h3>
<p>
<%= link_to 'Tipos de OS', os_tipos_path %>
</p>
<p>
<%= link_to 'Tarefas', os_tarefas_path %>
</p>
<p>
<%= link_to 'Níveis de Serviço', os_nivel_servicos_path %>
</p>
<p>
<%= link_to 'Entregáveis', os_entregavels_path %>
</p>
<p>
<%= link_to 'Débitos Técnicos de OS', os_deb_tecnicos_path %>
</p>
<p>
<%= link_to 'Ordens de Serviço', ordem_servicos_path %>
</p>
<p>
<%= link_to 'Entregáveis', entregavels_path %>
</p>
<p>
<%= link_to 'Débitos Técnicos', debito_tecnicos_path %>
</p>
<p>
<%= link_to 'Catálogos', catalogos_path %>
</p>
<p>
<%= link_to 'Pessoas', pessoas_path %>
</p>
<p>
<%= link_to 'Produtos', produtos_path %>
</p>
<p>
<%= link_to 'Projetos', projetos_path %>
</p>
<p>
<%= link_to 'Débitos Técnicos de Tarefas', tarefa_deb_tecnicos_path %>
</p>
