<div id="export-content">
<table class="table table-bordered table-hover table-condensed imprimir">
   <colgroup width="255"></colgroup>
   <colgroup width="96"></colgroup>
   <colgroup width="543"></colgroup>
   <colgroup width="209"></colgroup>
   <colgroup width="165"></colgroup>
   <colgroup width="219"></colgroup>
   <colgroup width="285"></colgroup>
   <tbody>
      <tr>
         <td colspan="7" align="center" valign="bottom" height="31"><strong><span style="color: #000000; font-size: x-large;">Tribunal de Contas do Estado de Goi&aacute;s</span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" height="31"><strong><span style="color: #000000; font-size: x-large;">Laudo de Avalia&ccedil;&atilde;o de Artefatos</span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" height="31"><span style="color: #000000;">&nbsp;</span></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" height="20"><strong><span style="color: #000000;">AVALIA&Ccedil;&Atilde;O DA  <%= identificador_os %></span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" bgcolor="#D9D9D9" height="20"><strong><span style="color: #000000;">RELA&Ccedil;&Atilde;O DE ENTREGAS DA ORDEM DE SERVI&Ccedil;O</span></strong></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="40"><strong><span style="color: #000000;">PRODUTO</span></strong></td>
         <td align="left" valign="bottom"><strong><span style="color: #000000;">NO.</span></strong></td>
        <% if @ordem_servico.os_tipo.nome==OsTipo.tipos[2] || @ordem_servico.os_tipo.nome==OsTipo.tipos[3] || @ordem_servico.os_tipo.nome==OsTipo.tipos[5]%>
          <td align="left" valign="bottom"><strong><span style="color: #000000;">CATÁLOGO</span></strong></td>
        <% else %>
          <td align="left" valign="bottom"><strong><span style="color: #000000;">ENTREG&Aacute;VEL</span></strong></td>
        <% end %>
         <td align="left" valign="bottom"><strong><span style="color: #000000;">PERFIL</span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;">HORAS (EXECUTADA)</span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;">UST (EXECUTADA)</span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;">RESULTADO AVALIA&Ccedil;&Atilde;O</span></strong></td>
      </tr>
      <% @ordem_servico.os_tarefas.each do |os_tarefa| %>
      <tr >
        <% if !os_tarefa.produto.blank? %>
          <td  align="left" valign="bottom" height="20"><span style="font-family: Arial;"><%= os_tarefa.produto.nome %></span></td>
        <% end %>
        <% if os_tarefa.produto.blank? %>
          <td  align="left" valign="bottom" height="20"><span style="font-family: Arial;">Não informado</span></td>
        <% end %>
        <td class="fit" align="left" valign="bottom"><span style="font-family: Arial;"><%= os_tarefa.id_tarefa_redmine %></span></td>
        <% if !os_tarefa.entregavel.blank? %>
          <td align="left" valign="bottom"><span style="font-family: Arial;"><%=os_tarefa.entregavel.nome%></span></td>
          <td align="left" valign="bottom"><span style="font-family: Arial;"><%=os_tarefa.entregavel.perfil%></span></td>
        <% end %>
        <% if os_tarefa.entregavel.blank? %>
          <td align="left" valign="bottom"><span style="font-family: Arial;"><%=os_tarefa.catalogo.nome%></span></td>
          <% if os_tarefa.ordem_servico.os_tipo.nome==OsTipo.tipos[2]%>
            <td  align="left" valign="bottom"><span style="font-family: Arial;">Analista de Infraestrutura</span></td>
          <% end %>
          <% if os_tarefa.ordem_servico.os_tipo.nome==OsTipo.tipos[3]%>
            <td  align="left" valign="bottom"><span style="font-family: Arial;">Administrador de Banco de Dados</span></td>
          <% end %>
          <% if os_tarefa.ordem_servico.os_tipo.nome==OsTipo.tipos[5]%>
            <td  align="left" valign="bottom"><span style="font-family: Arial;">Gerente de Projetos</span></td>
          <% end %>
          <% if os_tarefa.ordem_servico.os_tipo.nome!=OsTipo.tipos[2] && os_tarefa.ordem_servico.os_tipo.nome!=OsTipo.tipos[3] && os_tarefa.ordem_servico.os_tipo.nome!=OsTipo.tipos[5]%>
            <td  align="left" valign="bottom"><span style="font-family: Arial;">Gerente de Projetos</span></td>
          <% end %>
        <% end %>
         <td class="fit" align="center" valign="bottom"><span style="font-family: Arial;"><%= os_tarefa.horastarefa %></span></td>
         <td class="fit" align="center" valign="bottom"><span style="font-family: Arial;"><%= os_tarefa.ust_tarefa %></span></td>
         <td align="center" valign="bottom"><span style="color: #000000;"><%=os_tarefa.situacao%></span></td>
      </tr>
      <% end %>
      <tr>
         <td align="left" valign="bottom" height="20"><strong><span style="color: #000000;">Total Demonstrado</span></strong></td>
         <td align="left" valign="bottom"><strong><span style="color: #000000;">&nbsp;</span></strong></td>
         <td align="left" valign="bottom"><strong><span style="color: #000000;">&nbsp;</span></strong></td>
         <td align="left" valign="bottom"><strong><span style="color: #000000;">&nbsp;</span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;"><%=@total_horas_demonstrado %></span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;"><%=@total_ust_demonstrado %></span></strong></td>
         <td align="center" valign="bottom"><span style="color: #000000;">&nbsp;</span></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><strong><span style="color: #000000;">Total Aceito</span></strong></td>
         <td align="left" valign="bottom"><strong><span style="color: #000000;">&nbsp;</span></strong></td>
         <td align="left" valign="bottom"><strong><span style="color: #000000;">&nbsp;</span></strong></td>
         <td align="left" valign="bottom"><strong><span style="color: #000000;">&nbsp;</span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;"><%=@total_horas_aceito %></span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;"><%=@total_ust_aceito %></span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;">&nbsp;</span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" bgcolor="#D9D9D9" height="20"><strong><span style="color: #000000;">RELA&Ccedil;&Atilde;O DE D&Eacute;BITOS T&Eacute;CNICOS ENCONTRADOS</span></strong></td>
      </tr>
      <tr>
          <td align="left" valign="bottom" height="20"><strong><span style="color: #000000;">NO.</span></strong></td>
          <td colspan="2" align="left" valign="bottom"><strong><span style="color: #000000;">DESCRI&Ccedil;&Atilde;O DO D&Eacute;BITO T&Eacute;CNICO</span></strong></td>
          <td colspan="4" align="left" valign="bottom"><strong><span style="color: #000000;">JUSTIFICATIVA</span></strong></td>

      </tr>
      <% @ordem_servico.os_tarefas.each do |os_tarefa| %>
        <% os_tarefa.tarefa_deb_tecnicos.each do |tarefa_deb_tecnico| %>
        <tr>
           <td align="left" valign="bottom" height="18"><span style="color: #000000;"><%= tarefa_deb_tecnico.os_tarefa.id_tarefa_redmine %></span></td>
           <td colspan="2" align="left" valign="middle"><span style="color: #000000;"><%= tarefa_deb_tecnico.debito_tecnico.nome %></span></td>l
           <td colspan="4" align="left" valign="middle"><span style="color: #000000;"><%= tarefa_deb_tecnico.os_tarefa.justificativa %></span></td>l

        </tr>
        <% end %>
      <% end %>
      <tr>
         <td colspan="6" align="right" valign="middle" height="18"><strong><span style="color: #000000;">TOTAL</span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;"><%= @total_debitos_tecnicos %></span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" bgcolor="#D9D9D9" height="20"><strong><span style="color: #000000;">TAFEFAS N&Atilde;O ENTREGUES</span></strong></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><strong><span style="color: #000000;">NO.</span></strong></td>
         <td colspan="6" align="left" valign="bottom"><strong><span style="color: #000000;">JUSTIFICATIVA</span></strong></td>
      </tr>
      <% @ordem_servico.os_tarefas.each do |os_tarefa| %>
        <% if  os_tarefa.situacao==OsTarefa.situacoes[2]%>
        <tr>
           <td align="left" valign="bottom" height="20"><span style="color: #000000;"><%= os_tarefa.id_tarefa_redmine %></span></td>
           <td colspan="6" align="left" valign="middle"><span style="color: #000000;"><%= os_tarefa.justificativa %></span></td>
        </tr>
        <% end %>
      <% end %>
      <tr>
         <td colspan="6" align="right" valign="middle" height="18"><strong><span style="color: #000000;">TOTAL</span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;"><%= @total_tarefas_nao_entregues %></span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" bgcolor="#D9D9D9" height="20"><strong><span style="color: #000000;">ENTREGÁVEIS N&Atilde;O ENTREGUES OU NÃO ACEITOS</span></strong></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><strong><span style="color: #000000;">ENTREGÁVEIS</span></strong></td>
         <td colspan="6" align="left" valign="bottom"><strong><span style="color: #000000;">JUSTIFICATIVA</span></strong></td>
      </tr>
      <% @ordem_servico.os_entregavels.each do |os_entregavel| %>
        <% if os_entregavel.situacao==OsEntregavel.situacoes[2] or os_entregavel.situacao==OsEntregavel.situacoes[3] %>
        <tr>
           <td align="left" valign="bottom" height="20"><span style="color: #000000;"><%= os_entregavel.entregavel.nome %></span></td>
           <td colspan="6" align="left" valign="middle"><span style="color: #000000;"><%= os_entregavel.justificativa %></span></td>
        </tr>
        <% end %>
      <% end %>
      <tr>
         <td colspan="6" align="right" valign="middle" height="18"><strong><span style="color: #000000;">TOTAL</span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;"><%=@total_entregaveis_nao_entregues %></span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" bgcolor="#D9D9D9" height="20"><strong><span style="color: #000000;">OBSERVA&Ccedil;&Otilde;ES</span></strong></td>
      </tr>
      <tr>
        <% if !@ordem_servico.fechamento.blank? %>
         <td colspan="7" align="center" valign="middle" height="63"><span style="color: #000000;"><%= @ordem_servico.fechamento.html_safe %></span></td>
         <% end %>
         <% if @ordem_servico.fechamento.blank? %>
          <td colspan="7" align="center" valign="middle" height="63"><span style="color: #000000;"> </span></td>
          <% end %>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" bgcolor="#D9D9D9" height="20"><strong><span style="color: #000000;">ACORDO DE N&Iacute;VEIS DE SERVI&Ccedil;O</span></strong></td>
      </tr>
      <tr>
         <td align="left" valign="middle" height="20"><strong><span style="font-family: Arial;">S&Iacute;MBOLO</span></strong></td>
         <td colspan="5" align="center" valign="middle"><strong><span style="font-family: Arial;">VARI&Aacute;VEL</span></strong></td>
         <td align="center" valign="middle"><strong><span style="font-family: Arial;">VALOR</span></strong></td>
      </tr>
      <tr>
         <td align="left" valign="middle" height="20"><span style="color: #000000;">A</span></td>
         <td colspan="5" align="center" valign="middle"><span style="color: #000000;">Entregáveis aceitos</span></td>
         <td align="center" valign="middle"><span style="color: #000000;"><%= @total_entregaveis_aceitos %></span></td>
      </tr>
      <tr>
         <td align="left" valign="middle" height="20"><span style="color: #000000;">B</span></td>
         <td colspan="5" align="center" valign="middle"><span style="color: #000000;">Entregáveis demonstrados</span></td>
         <td align="center" valign="middle"><span style="color: #000000;"><%= @total_entregaveis_demonstrados %></span></td>
      </tr>
      <tr>
         <td align="left" valign="middle" height="20"><span style="color: #000000;">C</span></td>
         <td colspan="5" align="center" valign="middle">Prazo realizado</td>
         <td align="center" valign="middle">30</td>
      </tr>
      <tr>
         <td align="left" valign="middle" height="20"><span style="color: #000000;">D</span></td>
         <td colspan="5" align="center" valign="middle">Prazo previsto</td>
         <td align="center" valign="middle">30</td>
      </tr>
      <tr>
         <td align="left" valign="middle" height="20"><span style="color: #000000;">E</span></td>
         <td colspan="5" align="center" valign="middle">D&eacute;bitos Encontrados</td>
         <td align="center" valign="middle"><%= @total_debitos_tecnicos %></td>
      </tr>
      <tr>
         <td align="left" valign="middle" bgcolor="#FFFFFF" height="20"><span style="color: #484848; font-family: Verdana;">F</span></td>
         <td colspan="5" align="center" valign="middle"><strong><span style="color: #000000;">UST OS</span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;"><%=@total_ust_aceito %></span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" bgcolor="#D9D9D9" height="20"><strong><span style="color: #000000;">INDICADORES DE N&Iacute;VEL DE SERVI&Ccedil;O</span></strong></td>
      </tr>
      <tr>
         <td colspan="2" align="center" valign="middle" bgcolor="#FFFFFF" height="20"><strong><span style="font-family: Verdana;">INDICADOR</span></strong></td>
         <td align="left" valign="middle" bgcolor="#FFFFFF"><strong><span style="font-family: Verdana;">C&Aacute;LCULO</span></strong></td>
         <td align="left" valign="middle" bgcolor="#FFFFFF"><strong><span style="font-family: Verdana;">&nbsp;</span></strong></td>
         <td align="left" valign="middle" bgcolor="#FFFFFF"><strong><span style="font-family: Verdana;">VALOR</span></strong></td>
         <td align="left" valign="bottom"><strong><span style="color: #000000;">N&Iacute;VEL DE SERVI&Ccedil;O</span></strong></td>
         <td align="center" valign="middle" bgcolor="#FFFFFF"><strong><span style="font-family: Verdana;">PONTOS</span></strong></td>
      </tr>
      <% @ordem_servico.os_nivel_servicos.each do |os_nivel_servico| %>
      <tr>
         <td colspan="2" align="center" valign="middle" bgcolor="#FFFFFF" height="63"><%= os_nivel_servico.indicador %></td>
         <td align="left" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>
         <td align="left" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>
         <td align="right" valign="middle" bgcolor="#FFFFFF"><%= '%.2f' % os_nivel_servico.valor %></td>
         <td align="left" valign="bottom"><%= os_nivel_servico.nivel_servico %></td>
         <td align="center" valign="bottom"><%= os_nivel_servico.pontos %></td>
      </tr>
      <% end %>
      <tr>
         <td colspan="6" align="right" valign="bottom" height="20"><strong><span style="color: #000000;">TOTAL</span></strong></td>
         <td align="center" valign="bottom"><strong><span style="color: #000000;"><%=@pontos %></span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" bgcolor="#D9D9D9" height="20"><strong><span style="color: #000000;">FATOR DE ATENDIMENTO DO N&Iacute;VEL DE SERVI&Ccedil;O </span></strong></td>
      </tr>
      <tr>
         <td colspan="6" align="right" valign="bottom" height="20"><strong><span style="color: #000000;">Fator de Atendimento do N&iacute;vel de Servi&ccedil;o(F) =</span></strong></td>
         <td align="right" valign="bottom"><span style="color: #000000;"><%=@fator_atendimento_nivel_servico %></span></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" height="20"><strong><span style="color: #000000;">RESULTADO</span></strong></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><strong><span style="color: #000000;">D&eacute;bitos T&eacute;cnicos</span></strong></td>
         <td colspan="6" align="left" valign="bottom"><span style="color: #000000;"><%= @total_debitos_tecnicos %></span></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><strong><span style="color: #000000;">Entregáveis n&atilde;o entregues</span></strong></td>
         <td colspan="6" align="left" valign="bottom"><span style="color: #000000;"><%=@total_entregaveis_nao_entregues %></span></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><strong><span style="color: #000000;">N&iacute;vel de Servi&ccedil;o</span></strong></td>
         <td colspan="6" align="left" valign="bottom"><span style="color: #000000;">DESEJ&Aacute;VEL</span></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><strong><span style="color: #000000;">DESCRI&Ccedil;&Atilde;O</span></strong></td>
         <td align="left" valign="bottom"><strong><span style="color: #000000;">UST</span></strong></td>
         <td colspan="5" align="left" valign="bottom"><strong><span style="color: #000000;">R$</span></strong></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><span style="color: #000000;">Total OS</span></td>
         <td align="left" valign="bottom"><span style="color: #000000;"><%=@total_ust_aceito%></span></td>
         <td colspan="5" align="left" valign="bottom"><span style="color: #000000;">R$ <%=@total_ust_aceito * @ordem_servico.valorUst.valor%></span></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><span style="color: #000000;">Glosa por F.A.S</span></td>
         <td align="left" valign="bottom"><span style="color: #000000;"><%= '%.2f' % @total_glosa_ust%></span></td>
         <td colspan="5" align="left" valign="bottom"><span style="color: #000000;">R$ <%= '%.2f' % @total_glosa_dinheiro  %></span></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><span style="color: #000000;">Multa</span></td>
         <td align="left" valign="bottom"><span style="color: #000000;">0</span></td>
         <td colspan="5" align="left" valign="bottom"><span style="color: #000000;">R$ 0,00</span></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="20"><strong><span style="color: #000000;">TOTAL</span></strong></td>
         <td align="left" valign="bottom"><strong><span style="color: #000000;"><%= '%.2f' % ( @total_ust_aceito - @total_glosa_ust)  %></span></strong></td>
         <td colspan="5" align="left" valign="bottom"><strong><span style="color: #000000;">R$ <%='%.2f' %  ( ( @total_ust_aceito - @total_glosa_ust) *@ordem_servico.valorUst.valor ) %></span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" bgcolor="#D9D9D9" height="20"><strong><span style="color: #000000;">RESPONS&Aacute;VEIS PELA ASSINATURA</span></strong></td>
      </tr>
      <tr>
         <td align="left" valign="bottom" height="28"><span style="color: #000000;">&nbsp;</span></td>
         <td align="left" valign="bottom"><span style="color: #000000;">&nbsp;</span></td>
         <td align="left" valign="bottom"><span style="color: #000000;">&nbsp;</span></td>
         <td align="left" valign="bottom"><span style="color: #000000;">&nbsp;</span></td>
         <td align="left" valign="bottom"><span style="color: #000000;">&nbsp;</span></td>
         <td align="left" valign="bottom"><span style="color: #000000;">&nbsp;</span></td>
         <td align="left" valign="bottom"><span style="color: #000000;">&nbsp;</span></td>
      </tr>
      <tr>
         <td colspan="7" align="left" valign="bottom" height="21"><strong><span style="color: #000000; font-size: medium;">Goi&acirc;nia, __/__/____</span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" height="35"><strong><span style="color: #000000; font-size: medium;">_____________________________________________</span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" height="21"><strong><span style="color: #000000; font-size: medium;"><%= @ordem_servico.resp_tecnico.nome %></span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" height="21"><strong><span style="color: #000000; font-size: medium;">Analista de Controle Externo</span></strong></td>
      </tr>
      <tr>
         <td colspan="7" align="center" valign="bottom" height="21"><strong><span style="color: #000000; font-size: medium;">Matr&iacute;cula: <%= @ordem_servico.resp_tecnico.matricula %></span></strong></td>
      </tr>
   </tbody>
</table>
</div>
