<%= simple_form_for(@os_nivel_servico) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :os_id, :as => :hidden %>

      <%= f.input :nivel_servico,:collection => OsNivelServico.nivel,:label => "Nível apurado" ,:include_blank => false %>
      <%= f.input :indicador,:collection => OsNivelServico.indicador,:label => "Nome do Indicador" ,:include_blank => false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
