<p id="notice"><%= notice %></p>

<p>
  <strong>Os:</strong>
  <%= @os_nivel_servico.os_id %>
</p>

<p>
  <strong>Nivel servico:</strong>
  <%= @os_nivel_servico.nivel_servico %>
</p>

<p>
  <strong>Indicador:</strong>
  <%= @os_nivel_servico.indicador %>
</p>

<%= link_to '', edit_os_nivel_servico_path(@os_nivel_servico) %> |
<%= link_to 'Voltar', os_nivel_servicos_path %>
