<p id="notice"><%= notice %></p>

<h1>Listando Produtos</h1>

<table class="sortable table table-bordered table-hover table-condensed">

  <thead>
    <tr>
      <th>Produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= link_to '', produto,class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_produto_path(produto),class: "glyphicon glyphicon-edit" %></td>
        <td><%= link_to '', produto, method: :delete, data: { confirm: 'Você tem certeza?' },class: "glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_produto_path %>
