<p id="notice"><%= notice %></p>

<h1>Listando Ordem Servicos</h1>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Fiscal do Contrato</th>
      <th>Projeto</th>
      <th>Preposto</th>
      <th>Responśavel técnico</th>
      <th>OS</th>
      <th>Data início</th>
      <th>Data previsão</th>
      <th>Data fim</th>
      <th>Situação</th>
      <th>Responsável requisitante</th>
      <th>Tipo OS</th>
      <th>Fator atendimento</th>
      <th>Ust pago</th>
      <th>Ust glosa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordem_servicos.each do |ordem_servico| %>
      <tr>
        <td><%= ordem_servico.fiscalcontrato %></td>
        <td><%= ordem_servico.proj_id %></td>
        <td><%= ordem_servico.preposto %></td>
        <td><%= ordem_servico.resptecnico %></td>
        <td><%= ordem_servico.os %></td>
        <td><%= ordem_servico.data_inicio %></td>
        <td><%= ordem_servico.data_previsao %></td>
        <td><%= ordem_servico.data_fim %></td>
        <td><%= ordem_servico.situacao %></td>
        <td><%= ordem_servico.resp_requisitante %></td>
        <td><%= ordem_servico.tipo_os_id %></td>
        <td><%= ordem_servico.fator_atendimento %></td>
        <td><%= ordem_servico.ust_pago %></td>
        <td><%= ordem_servico.ust_glosa %></td>
        <td><%= link_to 'Show', ordem_servico %></td>
        <td><%= link_to 'Edit', edit_ordem_servico_path(ordem_servico) %></td>
        <td><%= link_to 'Destroy', ordem_servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordem servico', new_ordem_servico_path %>
