<p id="notice"><%= notice %></p>

<h1>Listando Ordens Servico</h1>

<table class="sortable table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tipo OS</th>
      <th>Projeto</th>
      <th>Sprint</th>
      <th>Data início</th>
      <th>Data previsão</th>
      <th>Data fim</th>
      <th>Situação</th>
      <th>Fator atendimento</th>
      <th>Ust pago</th>
      <th>Ust glosa</th>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordem_servicos.each do |ordem_servico| %>
      <tr>
        <td><%= ordem_servico.id %></td>
        <td><%= ordem_servico.os_tipo.nome %></td>
        <td><%= ordem_servico.projeto.nome %></td>
        <td><%= ordem_servico.sprint %></td>
        <td><%= ordem_servico.data_inicio %></td>
        <td><%= ordem_servico.data_previsao %></td>
        <td><%= ordem_servico.data_fim %></td>
        <td><%= ordem_servico.situacao %></td>
        <% if !ordem_servico.fator_atendimento.blank? %>
          <td><%= '%.2f' % ordem_servico.fator_atendimento %></td>
        <% else %>
          <td>0</td>
        <% end %>
        <td><%= ordem_servico.ust_pago %></td>
        <td><%= ordem_servico.ust_glosa %></td>
        <td><%= link_to 'Inserir Nível de Serviço', new_os_nivel_servico_path(os_id: ordem_servico.id), class: '' %></td>
        <td><%= link_to 'Inserir Entregável', new_os_entregavel_path(os_id: ordem_servico.id), class: '' %></td>
        <td><%= link_to 'Inserir Tarefas', new_os_tarefa_path(os_id: ordem_servico.id), class: '' %></td>
        <td><%= link_to 'Inserir Débito', new_os_deb_tecnico_path(os_id: ordem_servico.id), class: '' %></td>
        <td><%= link_to '', {:controller=>"ordem_servicos",:action=>"imprimir",:os_id=> ordem_servico.id}, :title => 'Imprimir OS',class: "glyphicon glyphicon-print" %></td>
        <td><%= link_to '', {:controller=>"laudos",:action=>"laudo",:os_id=> ordem_servico.id}, :title => 'Imprimir Laudo', class: "glyphicon glyphicon-ok-circle" %></td>
        <td><%= link_to '', ordem_servico, :title => 'Visualizar OS', class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_ordem_servico_path(ordem_servico),:title => 'Editar OS', class: "glyphicon glyphicon-edit" %></td>
        <td><%= link_to '', ordem_servico, method: :delete, data: { confirm: 'Você tem certeza?' }, :title => 'Excluir OS', class: "glyphicon glyphicon-remove"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if @ordem_servicos.size > 0 %>
<%= paginate @ordem_servicos %>
<% end %>

<%= link_to 'Nova Ordem servico', new_ordem_servico_path %>
