<p id="notice"><%= notice %></p>

<h1>Listando Ordens Servico</h1>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Fiscal do Contrato</th>
      <th>Projeto</th>
      <th>Preposto</th>
      <th>Responśavel técnico</th>
      <th>OS</th>
      <th>Data início</th>
      <th>Data previsão</th>
      <th>Data fim</th>
      <th>Situação</th>
      <th>Responsável requisitante</th>
      <th>Tipo OS</th>
      <th>Fator atendimento</th>
      <th>Ust pago</th>
      <th>Ust glosa</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordem_servicos.each do |ordem_servico| %>
      <tr>
        <td><%= ordem_servico.fiscal_contrato.nome  %></td>
        <td><%= ordem_servico.projeto.nome %></td>
        <td><%= ordem_servico.preposto.nome %></td>
        <td><%= ordem_servico.resp_tecnico.nome  %></td>
        <td><%= ordem_servico.nome %></td>
        <td><%= ordem_servico.data_inicio %></td>
        <td><%= ordem_servico.data_previsao %></td>
        <td><%= ordem_servico.data_fim %></td>
        <td><%= ordem_servico.situacao %></td>
        <td><%= ordem_servico.resp_requisitante.nome  %></td>
        <td><%= ordem_servico.os_tipo.nome %></td>
        <td><%= ordem_servico.fator_atendimento %></td>
        <td><%= ordem_servico.ust_pago %></td>
        <td><%= ordem_servico.ust_glosa %></td>
        <td><%= link_to 'Inserir Nível de Serviço', new_os_nivel_servico_path(os_id: ordem_servico.id), class: '' %></td>
        <td><%= link_to 'Inserir Entregável', new_os_entregavel_path(os_id: ordem_servico.id), class: '' %></td>
        <td><%= link_to 'Inserir Tarefas', new_os_tarefa_path(os_id: ordem_servico.id), class: '' %></td>
        <td><%= link_to 'Inserir Débito', new_os_deb_tecnico_path(os_id: ordem_servico.id), class: '' %></td>
        <td><%= link_to 'Exibir', ordem_servico %></td>
        <td><%= link_to 'Editar', edit_ordem_servico_path(ordem_servico) %></td>
        <td><%= link_to 'Excluir', ordem_servico, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Ordem servico', new_ordem_servico_path %>
