<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
<p>
  <strong>OS:</strong>
  <%= identificador_os %>
</p>
<p>
  <strong>Tipo da OS:</strong>
  <%= @ordem_servico.os_tipo.nome %>
</p>
<p>
  <strong>Projeto:</strong>
  <%= @ordem_servico.projeto.nome %>
</p>
<p>
  <strong>Descrição:</strong>
  <br/>
  <%= @ordem_servico.descricao.html_safe %>
</p>

<p>
  <strong>Fiscal do Contrato:</strong>
  <%= @ordem_servico.fiscal_contrato.nome %>
</p>

<p>
  <strong>Preposto:</strong>
  <%= @ordem_servico.preposto.nome %>
</p>

<p>
  <strong>Responsável Técnico:</strong>
  <%= @ordem_servico.resp_tecnico.nome %>
</p>

<p>
  <strong>Responsável requisitante:</strong>
  <%= @ordem_servico.resp_requisitante.nome%>
</p>


<p>
  <strong>Data inicio:</strong>
  <%= @ordem_servico.data_inicio.strftime("%d/%m/%Y")  %>
</p>

<p>
  <strong>Data previsao:</strong>
  <%= @ordem_servico.data_previsao.strftime("%d/%m/%Y")  %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @ordem_servico.data_fim.strftime("%d/%m/%Y")  %>
</p>
<p>
  <strong>Observações:</strong>
  <%= @ordem_servico.observacoes %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @ordem_servico.situacao %>
</p>


<p>
  <strong>Fator atendimento:</strong>
  <%= @ordem_servico.fator_atendimento %>
</p>

<p>
  <strong>UST pago:</strong>
  <%= @ordem_servico.ust_pago %>
</p>

<p>
  <strong>UST glosa:</strong>
  <%= @ordem_servico.ust_glosa %>
</p>

<% if !@ordem_servico.fechamento.blank? %>
  <p>
    <strong>Observações (laudo):</strong>
    <%= @ordem_servico.fechamento.html_safe %>
  </p>
<% end %>
<%= link_to 'Editar', edit_ordem_servico_path(@ordem_servico) %> |
<%= link_to 'Voltar', ordem_servicos_path %>
</div>

<br/>
<%= render "os_entregavels/index" %>
<%= link_to 'Inserir Entregáveis', new_os_entregavel_path(os_id: @ordem_servico.id), class: 'btn btn-default' %>

<%= render "os_tarefas/index" %>
<%= link_to 'Inserir Nova Tarefa', new_os_tarefa_path(os_id: @ordem_servico.id), class: 'btn btn-default' %>

<%= render "os_deb_tecnicos/index" %>
<%= link_to 'Inserir Débito Técnico', new_os_deb_tecnico_path(os_id: @ordem_servico.id), class: 'btn btn-default' %>

<%= render "os_nivel_servicos/index" %>
<%= link_to 'Inserir Novo Registro de Nível de Serviço', new_os_nivel_servico_path(os_id: @ordem_servico.id), class: 'btn btn-default' %>

<br/>
<br/>

<%= link_to 'Voltar', ordem_servicos_path %>
